.wrap {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
header {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
h1 {
	margin-left: auto;
	margin-right: auto;
}

p {
	margin-left: auto;
	margin-right: auto;
}
.next {
	position: abusolute;
	float: right;
}

.previous {
	position: abusolute;
	float: left;
}

.top {
	 margin-left: auto;
   margin-right: auto
}
